@tailwind components;
@tailwind utilities;
@tailwind base;

html {
  box-sizing: border-box;
}

// theme
//colors
$primary-color: #10b981;
$light-gray-color: #dde3ea95;
$danger-color: #e74d3e;
$text-dark: #282828;
$text-mid-gray: #505050;

// common tooltip
.freshInbox-tooltip {
  position: absolute;
  width: max-content;
  background-color: black;
  color: #e0e0e0;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  left: 50%;
  transform: translate(-50%, -130%);
  font-size: 10px;
  z-index: 100;
}

// common loading spinner
.freshInbox-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    border: 3.5px solid #c1c4c6;
    border-top: 3.5px solid $primary-color;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation: spin 0.8s linear infinite;
    // loader spin animation
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

// common text message
.freshInbox-TextMsg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  > p {
    font-size: 16px;
    font-weight: 400;
    color: $text-dark;
    margin: 0;
  }
}

// common table header
.freshInbox-tableHeader {
  width: 100%;
  background-color: #e7e9ec;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  > td {
    font-size: 14px !important;
    color: #262626;
    font-weight: 500;
    width: 50%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
  }

  > td:nth-child(2) {
    margin-left: 6rem;
  }
}

// main button shown beside each email
.freshInbox-assistantBtn {
  border-radius: 50%;
  background-color: #208dd0;
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-left: auto;
}

.freshInbox-assistantBtn.singleEmailAssistantBtn {
  position: absolute;
  left: -1rem;
  top: 6px;
  transform: scale(1.35);
}

#freshInbox-hoverCard {
  position: fixed;
  transform: translate(1%, -104%);
  width: 25rem;
  height: min-content;
  padding: 10px 0;
  z-index: 10000;
  display: none;
  visibility: hidden;
  border-radius: 10px;
  margin-left: -2.8rem;
  background-color: #ffffff;
  box-shadow: #63637033 0px 7px 29px 0px;
  transition: visibility 1s, opacity 0.5s linear;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: auto;
  // children
  .hoverCard-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    > p {
      display: flex;
      font-size: 15px;
      font-weight: 400;
      margin: 0;
      color: $text-mid-gray;
      > strong {
        font-weight: 500;
        color: $text-dark;
        opacity: 0.95;
      }
    }
    // action info
    > span {
      font-size: 11px;
      color: $text-mid-gray;
      font-weight: 500;
      margin: 0;
    }
  }

  #hoverCard-btnContainer {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-width: fit-content;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    &::before {
      content: ' ';
      height: 1.2px;
      width: 100%;
      position: absolute;
      top: 0px;
      border: 25%;
      background-color: #a0a0a0;
      opacity: 0.2;
    }

    > button {
      width: 40%;
      border-radius: 6px;
      padding: 8px 8px;
      outline: none;
      background-color: #ffffff;
      border: none;
      box-shadow: #0000001f 0px 1px 3px, #0000003d 0px 1px 2px;
      display: flex;
      color: $text-mid-gray;
      font-weight: 500;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-top: 8px;
      transition: all ease-in-out;
      animation-duration: 200ms;
      &:hover {
        box-shadow: #0000001a 0px 1px 3px 0px, #0000000f 0px 1px 2px 0px;
      }
    }
  }
}

#freshInbox-hoverCard.singleEmailHoverCard {
  transform: translate(-44%, 0%);
}

#freshInbox-authModal {
  // children
  #authModal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100vw;
    height: 100vw;
    background-color: #242222;
    opacity: 0.4;
  }
  #authModal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    border-radius: 16px;
    box-shadow: #64646f33 0px 7px 29px 0px;
    background-color: #f3f1f1;
    width: 40vw;
    height: 50vh;
    position: fixed;
    top: 25%;
    left: 30%;
    z-index: 10000;
    // children
    #authModal-title {
      color: #434242;
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
      text-align: center;
    }
    #authModal-errorMsg {
      color: #f04b4b;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      margin-bottom: 0.5rem;
      visibility: hidden;
    }
    #authModal-authBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
      background-color: #1d86d6;
      color: #f3f1f1;
      margin-top: 1rem;
      border-radius: 6px;
      outline: none;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
    #authModal-disableBtn {
      color: #777676;
      font-weight: 300;
      font-size: 10px;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
      margin-top: 0.5rem;
    }
  }
}

.freshInbox-snackbar {
  position: fixed;
  bottom: 16px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px 12px 14px 8px;
  border-radius: 4px;
  transform: translateX(-120%) translateY(0);
  height: 3.2vh;
  min-width: 7vw;
  width: fit-content;
  z-index: 10000;
  background-color: #eef0f1;
  transition: transform 0.25s ease-in;

  > span {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #212020;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-wrapper {
      margin-right: 4px;
      > svg {
        width: 30px;
        height: 30px;
        opacity: 0.9;
      }
    }
    > span {
      text-align: start;
      > span {
        font-size: 12px;
        color: #2c2c2c;
        font-weight: 400;
        margin-top: -4px;
      }
    }
  }
}

.freshInbox-snackbar.show {
  transform: translateX(2.5%) translateY(0);
}

.freshInbox-snackbar.success {
  background-color: #b8dec6;
  border-bottom: 4px solid #0aa949;
}

.freshInbox-snackbar.error {
  background-color: #fde3de;
  border-bottom: 4px solid $danger-color;
  > span {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #343434;
  }
}

// loading snackbar
#freshInbox-loadingSnackbar {
  position: fixed;
  bottom: 16px;
  left: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px 20px;
  border-radius: 6px;
  height: 3.2vh;
  width: fit-content;
  z-index: 10000;
  background-color: #e8f3f6;
  > span {
    margin: 0;
    font-size: 12.5px;
    font-weight: 400;
    color: #202121;
    margin-right: 22px;
    margin-bottom: 2px;
    min-width: max-content;
    > strong {
      font-size: 12.5px;
      color: #2c2c2c;
      font-weight: 600;
      margin-bottom: -2px;
    }
  }
}

// confirm modal
#freshInbox-confirmModal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  // children
  #confirmModal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vw;
    background-color: #242222;
    opacity: 0.5;
  }
  #confirmModal-card {
    display: flex;
    flex-direction: column;
    box-shadow: #64646f33 0px 7px 29px 0px;
    background-color: #f3f1f1;
    height: 22vh;
    width: calc(fit-content + 150px);
    position: absolute;
    padding: 18px 36px 18px 24px;
    border-radius: 12px;
    top: 25%;
    left: 32%;
    z-index: 10000;
    // children
    #confirmModal-modalTitle {
      color: #252525;
      font-size: 1.4rem;
      font-weight: 500;
      margin: 0;
      margin-bottom: 1rem;
    }
    #confirmModal-modalMessage {
      color: #434242;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      padding-right: 20px;
      line-height: 1.5rem;
      > strong {
        font-size: 16px;
        font-weight: 500;
      }
    }

    #confirmModal-checkboxWrapper {
      display: flex;
      user-select: none;
      margin-top: 16px;
      > input {
        border-radius: 2px;
        padding: 1px 2px;
        cursor: pointer;
      }
      > label {
        margin-left: 6px;
        font-weight: 400;
        font-size: 14px;
        color: $text-mid-gray;
        cursor: pointer;
      }
    }

    #confirmModal-btnContainer {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      > button {
        font-size: 16px;
        align-items: center;
        border-radius: 6px;
        outline: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }

      // children
      #confirmModal-confirmActionBtn {
        font-weight: 400;
        background-color: $danger-color;
        color: #f3f1f1;
        transition: all;
        transition-duration: 0.2s;
        &:hover {
          transform: scale(1.025);
        }
      }
      #confirmModal-cancelActionBtn {
        color: #484747;
        font-weight: 300;
        background-color: #e3e4e5;
        margin-right: 0.6rem;
      }
    }
  }
}
