.mailMagic-main-btn {
  border-radius: 50%;
  background-color: #208dd0;
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-left: auto;
}

.mailMagic-hoverCard {
  width: 25rem;
  height: 8rem;
  z-index: 1000;
  position: absolute;
  display: none;
  visibility: hidden;
  border-radius: 10px;
  margin-left: -2.8rem;
  margin-top: calc(-8rem - 25px);
  background-color: #f3f1f1;
  box-shadow: #63637033 0px 7px 29px 0px;
  transition: visibility 1s, opacity 0.5s linear;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  flex-direction: column;
  cursor: auto;
  // children
  .hoverCard-label {
    color: #121313;
    font-size: 16px;
    font-weight: 500;
    margin: 2px 0;
    margin-bottom: 25px;
    position: relative;
  }
  .hoverCard-btnContainer {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    &::before {
      content: ' ';
      height: 1.5px;
      width: 24rem;
      position: absolute;
      left: 2.5%;
      top: -12px;
      border: 25%;
      background-color: #4544444e;
      opacity: 0.2;
    }
    > button {
      border-radius: 8px;
      padding: 6px 8px;
      outline: none;
      border: 2px solid #242222;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .hoverCard-unsubscribeBtn {
      display: flex;
      width: 35%;
    }
    .hoverCard-deleteAllMailsBtn {
      display: flex;
      width: 35%;
    }
    .hoverCard-unsubscribeAndDeleteAllMailsBtn {
      display: flex;
      width: 60%;
      margin-top: 5px;
      // padding: 8px 0;
    }
  }
}

#mailMagic-authModal {
  // children
  #authModal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100vw;
    height: 100vw;
    background-color: #242222;
    opacity: 0.4;
  }
  #authModal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 16px;
    border-radius: 16px;
    box-shadow: #64646f33 0px 7px 29px 0px;
    background-color: #f3f1f1;
    width: 40vw;
    height: 50vh;
    position: fixed;
    top: 25%;
    left: 30%;
    z-index: 10000;
    // children
    #authModal-title {
      color: #434242;
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
      text-align: center;
    }
    #authModal-errorMsg {
      color: #f04b4b;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      margin-bottom: 0.5rem;
      visibility: hidden;
    }
    #authModal-authBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
      background-color: #1d86d6;
      color: #f3f1f1;
      margin-top: 1rem;
      border-radius: 6px;
      outline: none;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
    #authModal-disableBtn {
      color: #777676;
      font-weight: 300;
      font-size: 10px;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
      margin-top: 0.5rem;
    }
  }
}

.mailMagicSettingsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 16px;
  right: 200px;
  z-index: 1000;
  font-size: 14px;
  font-weight: 400;
  background-color: #efeff0;
  color: #2180de;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
}

//* loading snackbar
#mailMagic-loadingSnackbar {
  position: fixed;
  bottom: 16px;
  left: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 10px;
  border-radius: 8px;
  height: 3.2vh;
  width: fit-content;
  z-index: 10000;
  background-color: #eef0f1;
  #loadingSnackbar-label {
    margin: 0;
    margin-left: 36px;
    font-size: 12.5px;
    font-weight: 400;
    color: #202121;
    > strong {
      font-size: 12.5px;
      color: #2c2c2c;
      font-weight: 600;
      margin-bottom: -2px;
    }
  }
  #loadingSnackbar-loader {
    position: absolute;
    border: 3.5px solid #e2e9ed;
    border-top: 3.5px solid #3498db;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation: spin 0.8s linear infinite;
    left: 8px;
    bottom: auto;
  }
}

//* confirm modal
#mailMagic-confirmModal {
  // children
  #confirmModal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100vw;
    height: 100vw;
    background-color: #242222;
    opacity: 0.4;
  }
  #confirmModal-card {
    display: flex;
    flex-direction: column;

    padding: 22px;
    border-radius: 16px;
    box-shadow: #64646f33 0px 7px 29px 0px;
    background-color: #f3f1f1;
    width: fit-content;
    height: 20vh;
    position: fixed;
    top: 25%;
    left: 32%;
    z-index: 10000;
    // children
    #confirmModal-modalTitle {
      color: #252525;
      font-size: 1.4rem;
      font-weight: 400;
      margin: 0;
      margin-bottom: 1.5rem;
    }
    #confirmModal-modalMessage {
      color: #434242;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 1.5rem;
      padding-right: 20px;
      > strong {
        font-size: 16px;
        margin-top: 8px;
      }
    }
    #confirmModal-btnContainer {
      display: flex;
      width: 100%;
      margin-top: 1rem;
      align-items: center;
      justify-content: flex-end;

      // children
      #confirmModal-confirmActionBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        background-color: #1d86d6;
        color: #f3f1f1;
        border-radius: 6px;
        outline: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }
      #confirmModal-cancelActionBtn {
        color: #484747;
        font-weight: 300;
        font-size: 16px;
        border-radius: 6px;
        outline: none;
        border: none;
        background-color: #e3e4e5;
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        margin-right: 0.6rem;
      }
    }
  }
}

// loader spin animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
